# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ML4T_2020Fall\defeat_learners\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
